* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #787878;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
p {
  line-height: 1.5;
}
.navbar {
  display: flex;
  padding: 30px;
}
.navbar-brand {
  color: black;
  padding-right: 20px;
}
.navbar-nav {
  border-left: 1px solid #aaa;
  padding-left: 20px;
}
.navbar-nav li{
  list-style: none;
  display: inline;
  margin-right: 20px;
}
.main {
  max-width: 800px;
  margin: 10px auto;
}
.title-box {
  
}
.title {
  background-color: #eee;
  padding: 20px 30px;
}
.users {
  padding: 0 20px;
}   
.welcome{
  margin: 10px 0;
  font-size: 20px;
}
.btn-box {
  margin: 20px 0;
}
.btn {
  background-color: darkgreen;
  color: #fff;
  padding: 10px 20px;
}
.btn:hover {
  background-color: rgb(42, 44, 42);
}
.lgn {
  margin-top: 30px;
}
.table {
  width: 100%;
  border-collapse: collapse;
} 
.table-header td{
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
}
.table-header {
  border-bottom: 2px solid #787878;
}
.table-item {
  border-bottom: 1px dashed #787878;
}
.table-body td {
  padding: 10px 0;
}
.f-inline{
  display: inline;
}
.icon-line {
  display: flex;
  justify-content: end;
}
.btn-i {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  margin-right: 20px;
  color: #fff;
  text-align: center;
}
.eye {
  background-color: darkgreen;
}
.pencil {
  background-color: rgb(22, 22, 105);
}
.trash {
  background-color: rgb(94, 4, 4);
}
.eye i, .pencil i {
  margin-top: 5px;
}
.book-box {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #eee;

}
.book-box h3 {
  font-size: 28px;
  font-weight: 500;
}
.book-box p {
  margin-top: 10px;
}
.create-book {
  width: 300px;
}
.create-book label {
  display: block;
  margin: 10px 0;
  width: 100%;
}
.create-book input {
  width: 100%;
}
.create-book textarea {
  width: 100%;
}
.create-book button {
  clear: both;
}
.counter {
  font-size: 18px;
  margin: 10px 0;
}
.count {
  color: 	#008000;
  margin-left: 10px;
  font-weight: bold;
}

.messages-block {
  width: 100%;
  margin-top: 50px;
  padding: 0 0 20px;
  border: 1px solid #eee;
}
.messages-block h4 {
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid #eee;
  padding: 20px;
}
.dispatched,
.received {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: #F8F8F8;
  margin: 15px auto;
  border: 1px solid #ddd;
}
.dispatched {
  background-color: #E6FCE6;
}
.message-header {
  border-bottom: 1px dashed #aaa;
  padding: 5px 0;
}
.message-date {
  font-size: 12px;
}
.message-name {
  margin: 0 10px;
  color: #008000;
}
.message-userId {
  display: none;
}
.message-text {
  margin: 10px 5px;
}
.message-send-block {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.message-send-block h4 {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 15px;
}
.message-send {
  width: 80%;
  margin: 20px auto;
}
.message-send p {
  font-size: 20px;
  color: 	#008000;
}
.story {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  padding: 10px;
}
.message-send-auth {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
.message-send-login p {
  margin-top: 20px;
}
.register-form,
.login-form {
  text-align: left;
}
.login-form input,
.register-form input {
  margin-top: 10px;
  height: 30px;
}
.tests {
  width: 80%;
  border: 1px solid #787878;
  margin: 30px;
}