<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<div class="title-box"><h1 class="title"><%= title %></h1></div>

<form action="/user/register" class="create-book" method="post" >
  <div>
    <label>Имя пользователя (не обязательное):</label>
    <input type="text" name="nickname"/> <br />
  </div>
  <div>
    <label>Емейл:</label>
    <input type="email" name="username" required/> <br />
  </div>
  <div>
    <label>Пароль:</label>
    <input type="password" name="password" required/> <br />
  </div>
  <div class="btn-box">
    <button class="btn" type="submit" >Отправить</button> 
  </div>
</form>


<%- include('../port/layout-end') %>